.taskContainer {
  background-color: antiquewhite;
  width: 25vw;
  height: fit-content;
  padding: 15px 10px;
  margin: 10px auto 10px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.taskContainer:hover {
  cursor: pointer;
  box-shadow: inset 60px 0 120px rgb(255, 206, 255),
    inset -60px 0 120px rgb(174, 255, 255);
}

.taskCheckbox {
  margin: auto 5px;
  height: 15px;
  width: 15px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}

.taskCheckbox:hover {
  cursor: pointer;
}

.taskTitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto 25px;
}
